<h1>Welcome To Wordful</h1>
<h2>A Blog Website By Jill Redmond C12386441</h2>
<h4>Remember you must be logged in to use the features listed below.</h4>

<%= link_to "Jill's Git Hub", "https://github.com/jillredmond"%>

<li><%= link_to "View Blogs", "blogs" %></li>
<li><%= link_to "View Blog Posts", "posts" %></li>
<li><%= link_to " Your Dashboard", "dashboards" %></li>
